<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Eo_circle_blue-grey_letter-t.svg" alt="'T' Icon"> -->
<nz-page-header>
    <nz-page-header-title><span nz-icon nzType="wechat" nzTheme="outline"></span>Treehole</nz-page-header-title>
    <nz-page-header-subtitle>Anonymus Discussion Forum</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <button nz-button nzType="primary" (click)="onNavigateToHomePage()"><span nz-icon nzType="edit" nzTheme="outline" ></span>Post</button>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>