<nz-content>
    <nz-list nzItemLayout="vertical">
        <ng-container *ngFor="let post of posts">
            <nz-list-item>
                <nz-list-item-meta>
                    <nz-list-item-meta-title>
                        {{ post.title }}
                    </nz-list-item-meta-title>
                    <nz-list-item-meta-description>
                        {{today - post.id * 7777777| date: 'MMM d, yyyy, h:mm:ss a '}}
                    </nz-list-item-meta-description>
                </nz-list-item-meta>
                {{ post.body }}
                <ul nz-list-item-actions class="actions">
                    <nz-list-item-action>
                        <span nz-icon class="like" nzType="like" style="margin-right: 8px;" (click)="onLike(post)"
                            [ngClass]="{liked:post.isLiked}"></span>
                        {{post.likesCount}}
                    </nz-list-item-action>
                    <nz-list-item-action>
                        <span nz-icon class="dislike" nzType="dislike" style="margin-right: 8px;"
                            (click)="onDislike(post)" [ngClass]="{disliked:post.isDisliked}"></span>
                        {{post.dislikesCount}}
                    </nz-list-item-action>
                    <nz-list-item-action>
                        <span nz-icon nzType="comment" style="margin-right: 8px;"
                            (click)="onGetCommentsByPostId(post, post.id)"></span>
                        <span *ngIf="post.showComments"> {{post.commentsCount}} </span>
                    </nz-list-item-action>
                </ul>
                <nz-list-item-extra>
                </nz-list-item-extra>
            </nz-list-item>

            <ng-container *ngIf="post.showComments">
                <!-- <nz-comment *ngFor="let comment of post.comments">
                    <nz-comment-content>
                        <p>{{comment.body}}</p>
                    </nz-comment-content>
                    <nz-comment-action>
                        <span nz-tooltip nzTitle="Like" nz-icon nzType="like"
                            [nzTheme]="comment.isLiked ? 'twotone' : 'outline'" (click)="onLike(comment)"></span>
                        <span class="count like">{{ comment.likesCount }}</span>
                    </nz-comment-action>
                    <nz-comment-action>
                        <span nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
                            [nzTheme]="comment.isDisliked? 'twotone' : 'outline'" (click)="onDislike(comment)"></span>
                        <span class="count dislike">{{ comment.dislikesCount }}</span>
                    </nz-comment-action>
                </nz-comment> -->
                      <nz-comment *ngFor="let comment of post.comments">
                        <nz-comment-content>
                          <p>{{ comment.body }}</p>
                        </nz-comment-content>
                        <nz-comment-action>Reply to</nz-comment-action>
                      </nz-comment>
            </ng-container>

            <!-- <div *ngIf="post.showComments">
                <legend>Comments</legend>
                <nz-list-item *ngFor="let comment of post.comments">
                    <nz-list-item-meta>
                        <nz-list-item-meta-description>
                            {{today - comment.id * 7777777| date: 'MMM d, yyyy, h:mm:ss a '}}
                        </nz-list-item-meta-description>
                    </nz-list-item-meta>
                    {{ comment.body }}
                    <ul nz-list-item-actions class="actions">
                        <nz-list-item-action>
                            <span nz-icon class="like" nzType="like" style="margin-right: 8px;"
                                (click)="onLike(comment)" [ngClass]="{liked:comment.isLiked}"></span>
                            {{comment.likesCount}}
                        </nz-list-item-action>
                        <nz-list-item-action>
                            <span nz-icon class="dislike" nzType="dislike" style="margin-right: 8px;"
                                (click)="onDislike(comment)" [ngClass]="{disliked:comment.isDisliked}"></span>
                            {{comment.dislikesCount}}
                        </nz-list-item-action>
                    </ul>
                    <nz-list-item-extra>
                    </nz-list-item-extra>
                </nz-list-item>
            </div> -->
        </ng-container>
    </nz-list>
</nz-content>
<app-pagination></app-pagination>