nz-list-item {
    padding: 15px 25px;
    color  : rgb(0, 130, 200) !important;
}

[nz-icon] {
    cursor: pointer;
    color: rgb(0, 130, 200);
}

.like, .dislike {
    color: rgba(0, 130, 200, 0.3);
}

.liked {
    color: rgb(0, 130, 200);
}

.disliked {
    color: rgba(255, 50, 50);
}

nz-content {
    background-color: white;
    border          : solid 1px lightgray;
}

app-pagination {
    display: flex;
    margin : 15px auto;
}