nz-list-item {
    padding: 15px 25px;
}

nz-list-item-meta-title {
    cursor: pointer;
}
[nz-icon] {
    cursor: pointer;
    color : rgb(0, 130, 200);
}

.like,
.dislike {
    color: rgba(0, 130, 200, 0.3);
}

.liked {
    color: rgb(0, 130, 200);
}

.disliked {
    color: rgba(255, 50, 50);
}

nz-content {
    background-color: white;
    border          : solid 1px lightgray;
}

app-pagination {
    display: flex;
    margin : 15px auto;
}

.commentBody {
    border-bottom: 1px solid rgb(250, 250, 250);
}

nz-comment {
    margin       : 10px;
    margin-left  : 5%;
    border       : solid 1px rgba(0, 130, 200, 0.1);
    border-radius: 5px;
}

nz-comment-content {
    font-size: 12px;
}

.repliesCount {
    display       : inline-block;
    margin-left   : 25px;
    margin-top    : 10px;
    // font-weight:lighter;
    font-style    : italic;
}

.commentAutor {
    margin-left: 5%;
    margin-top : 5px;
}