<nz-content>
    <nz-list nzItemLayout="vertical">
        <ng-container *ngFor="let post of posts">
            <nz-list-item>
                <nz-list-item-meta>
                    <nz-list-item-meta-title (click)="navigateToPostPage(post.id)">
                        {{ post.title }}
                    </nz-list-item-meta-title>
                    <nz-list-item-meta-description>
                        {{today - post.id * 7777777 | date: 'MMM d, yyyy, h:mm:ss a'}}
                    </nz-list-item-meta-description>
                </nz-list-item-meta>
                {{ post.body }}
                <ul nz-list-item-actions class="actions">
                    <nz-list-item-action>
                        <span nz-icon class="like" nzType="like" [nzTheme]="post.isLiked ? 'twotone' : 'outline'"
                            style="margin-right: 8px;" (click)="onLike(post, 'like')"></span>
                        {{post.likesCount}}
                    </nz-list-item-action>
                    <nz-list-item-action>
                        <span nz-icon class="dislike" nzType="dislike"
                            [nzTheme]="post.isLiked === false ? 'twotone' : 'outline'" style="margin-right: 8px;"
                            (click)="onLike(post, 'dislike')"></span>
                        {{post.dislikesCount}}
                    </nz-list-item-action>
                    <nz-list-item-action>
                        <span nz-icon nzType="comment" style="margin-right: 8px;"
                            (click)="navigateToPostPage(post.id)"></span>
                    </nz-list-item-action>
                </ul>
                <nz-list-item-extra>
                </nz-list-item-extra>
            </nz-list-item>
        </ng-container>
    </nz-list>
</nz-content>
<app-pagination></app-pagination>